<div class="container">
  <h1>Jeu du Dilemme du Prisonnier</h1>
  <p>Un jeu de stratégie basé sur le dilemme du prisonnier.</p>

  <!-- Boutons principaux -->
  <div *ngIf="!showCreateFields && !showJoinFields" class="button-group">
    <button (click)="showCreateGameFields()">Démarrer une Partie</button>
    <button (click)="showJoinGameFields()">Rejoindre une Partie</button>
  </div>

  <div *ngIf="showCreateFields" class="form-container">
    <label for="playerName">Nom du Joueur</label>
    <input
      type="text"
      id="playerName"
      [(ngModel)]="playerName"
      name="playerName"
      placeholder="Entrez votre nom"
      required
    />

    <label for="nbTours">Nombre de Tours</label>
    <input
      type="number"
      id="nbTours"
      [(ngModel)]="nbTours"
      name="nbTours"
      placeholder="Entrez le nombre de tours"
      required
    />

    <button class="small-button" (click)="createGame()">Créer la Partie</button>
  </div>

  <!-- Formulaire pour rejoindre une partie existante -->
  <div *ngIf="showJoinFields" class="form-container">
    <label for="idPartie">ID de la Partie</label>
    <input
      type="number"
      id="idPartie"
      [(ngModel)]="idPartie"
      name="idPartie"
      placeholder="Entrez l'ID de la partie"
      required
    />

    <label for="username">Nom du Joueur</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="username"
      name="username"
      placeholder="Entrez votre nom"
      required
    />

    <button class="small-button" (click)="joinGame()">Rejoindre la Partie</button>
  </div>
</div>
